.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}
img {
  border: 5px solid white;
}
.photo {
  width: 50%;
  margin-left: 5%;
  margin-top: 2%;
  text-align: center;
  color: white;
}
.text {
  width: 50%;
  margin-left: 25%;
  margin-top: 2%;
  text-align: center;
  color: white;
}
h1 {
  text-transform: uppercase;
}
body {
  background-color: black;
}
